.row-space {
  margin-top:20px;
}
.row-space-sm {
  margin-top:10px;
}

.dateView {
  overflow:hidden;
}
.strong {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.red {
    color: rgb(158, 22, 22);
}
