extends layout

block content
  .container
    .container-fluid
      .row
        h2
          | #{title}
      .row
        p
      .row
        p
        .well.well-lg
          .row
            .col-md-2
              p.strong Date:
              = diary.date
            .col-md-2
              p.strong Start:
              = moment(diary.startTime).format('LTS')
            .col-md-2
              p.strong End:
              = moment(diary.endTime).format('LTS')
          .row.row-space
            .col-md-12
              p.strong Description:
              = diary.misc
          .row.row-space
            .col-md-12
              p.strong Recipe:
                a(role="button" data-toggle="collapse" href="#recipeDiv" aria-expanded="false" aria-controls="recipeDiv")
                  span.glyphicon.glyphicon-eye-open
                  = diary.recipe.name
              #recipeDiv.collapse.panel
                include inline/recipe.jade
      .row
        .col-md-12
          table.table.table-striped
            thead
              tr
                th
                  | Time
                th
                  | Description
                th
            tbody
              each entry in diary.entries
                tr
                  td
                    = moment(entry.timeStamp).format('LTS')
                  td
                    = entry.entry
                  td.text-right
                    - if(entry.important)
                      span.glyphicon.glyphicon-warning-sign.red
